<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0"><dict><key>angle</key>
<real>90.000000</real>
<key>angleVariance</key>
<real>0.000000</real>
<key>duration</key>
<real>0.510000</real>
<key>startParticleSize</key>
<real>20.000000</real>
<key>startParticleSizeVariance</key>
<real>10.000000</real>
<key>finishParticleSize</key>
<real>15.000000</real>
<key>finishParticleSizeVariance</key>
<real>7.000000</real>
<key>gravityx</key>
<real>0.000000</real>
<key>gravityy</key>
<real>0.000000</real>
<key>maxParticles</key>
<real>15.000000</real>
<key>maxRadius</key>
<real>213.330002</real>
<key>maxRadiusVariance</key>
<real>0.000000</real>
<key>minRadius</key>
<real>100.440002</real>
<key>particleLifespan</key>
<real>0.800000</real>
<key>particleLifespanVariance</key>
<real>0.300000</real>
<key>rotatePerSecond</key>
<real>0.000000</real>
<key>rotatePerSecondVariance</key>
<real>0.000000</real>
<key>rotationEnd</key>
<real>0.000000</real>
<key>rotationEndVariance</key>
<real>0.000000</real>
<key>rotationStart</key>
<real>0.000000</real>
<key>rotationStartVariance</key>
<real>0.000000</real>
<key>sourcePositionVariancex</key>
<real>55.000000</real>
<key>sourcePositionVariancey</key>
<real>50.000000</real>
<key>sourcePositionx</key>
<real>173.000000</real>
<key>sourcePositiony</key>
<real>190.000000</real>
<key>speed</key>
<real>160.000000</real>
<key>speedVariance</key>
<real>60.000000</real>
<key>startColorAlpha</key>
<real>0.058824</real>
<key>startColorBlue</key>
<real>0.501961</real>
<key>startColorGreen</key>
<real>1.000000</real>
<key>startColorRed</key>
<real>0.329412</real>
<key>startColorVarianceAlpha</key>
<real>0.000000</real>
<key>startColorVarianceBlue</key>
<real>0.258824</real>
<key>startColorVarianceGreen</key>
<real>0.000000</real>
<key>startColorVarianceRed</key>
<real>0.074510</real>
<key>finishColorAlpha</key>
<real>0.047059</real>
<key>finishColorBlue</key>
<real>0.000000</real>
<key>finishColorGreen</key>
<real>0.556863</real>
<key>finishColorRed</key>
<real>0.074510</real>
<key>finishColorVarianceAlpha</key>
<real>1.000000</real>
<key>finishColorVarianceBlue</key>
<real>0.000000</real>
<key>finishColorVarianceGreen</key>
<real>0.000000</real>
<key>finishColorVarianceRed</key>
<real>0.000000</real>
<key>tangentialAccelVariance</key>
<real>0.000000</real>
<key>tangentialAcceleration</key>
<real>0.000000</real>
<key>radialAccelVariance</key>
<real>0.000000</real>
<key>radialAcceleration</key>
<real>0.000000</real>
<key>blendFuncSource</key>
<integer>772</integer>
<key>blendFuncDestination</key>
<integer>1</integer>
<key>emitterType</key>
<real>0</real>
<key>textureFileName</key>
<string>ziliao_jiahao.png</string>
</dict></plist>
