<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>90</integer>
    <key>angleVariance</key>
    <integer>0</integer>
    <key>duration</key>
    <real>0.51</real>
    <key>startParticleSize</key>
    <integer>20</integer>
    <key>startParticleSizeVariance</key>
    <integer>10</integer>
    <key>finishParticleSize</key>
    <integer>15</integer>
    <key>finishParticleSizeVariance</key>
    <integer>7</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>15</integer>
    <key>maxRadius</key>
    <real>213.330002</real>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <real>100.440002</real>
    <key>particleLifespan</key>
    <real>0.8</real>
    <key>particleLifespanVariance</key>
    <real>0.3</real>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <integer>55</integer>
    <key>sourcePositionVariancey</key>
    <integer>50</integer>
    <key>sourcePositionx</key>
    <integer>173</integer>
    <key>sourcePositiony</key>
    <integer>190</integer>
    <key>speed</key>
    <integer>160</integer>
    <key>speedVariance</key>
    <integer>60</integer>
    <key>startColorAlpha</key>
    <real>0.058824</real>
    <key>startColorBlue</key>
    <real>0.501961</real>
    <key>startColorGreen</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <real>0.329412</real>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <real>0.258824</real>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <real>0.07451</real>
    <key>finishColorAlpha</key>
    <real>0.047059</real>
    <key>finishColorBlue</key>
    <integer>0</integer>
    <key>finishColorGreen</key>
    <real>0.556863</real>
    <key>finishColorRed</key>
    <real>0.07451</real>
    <key>finishColorVarianceAlpha</key>
    <integer>1</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>blendFuncSource</key>
    <integer>3</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>textureFileName</key>
    <string>ziliao_jiahao.png</string>
  </dict>
</plist>