<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11003_Talent4_agbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{59,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{59,161}}</string>
                <key>sourceSize</key>
                <string>{67,167}</string>
            </dict>
            <key>11003_Talent4_aghand_l_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,171},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{36,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>11003_Talent4_aghand_l_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,242},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{32,44}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>11003_Talent4_aghand_r_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,206},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{17,18}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>11003_Talent4_aghand_r_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,253},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{33,26}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>11003_Talent4_aghand_r_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,209},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{34,42}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>11003_Talent4_agjianjia_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,187},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{44,53}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>11003_Talent4_agjianjia_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,253},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,57}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>11003_Talent4_agleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,206},{49,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,93}}</string>
                <key>sourceSize</key>
                <string>{51,97}</string>
            </dict>
            <key>11003_Talent4_agweapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,63},{39,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{39,144}}</string>
                <key>sourceSize</key>
                <string>{43,150}</string>
            </dict>
            <key>11003_Talent4_chongjibo_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>11003_Talent4_chongjibo_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>11003_Talent4_dun_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{111,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,71}}</string>
                <key>sourceSize</key>
                <string>{111,71}</string>
            </dict>
            <key>11003_Talent4_dun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,134},{115,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,70}}</string>
                <key>sourceSize</key>
                <string>{115,70}</string>
            </dict>
            <key>11003_Talent4_dun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,115},{115,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,70}}</string>
                <key>sourceSize</key>
                <string>{115,70}</string>
            </dict>
            <key>11003_Talent4_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,104},{65,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,132}}</string>
                <key>sourceSize</key>
                <string>{65,132}</string>
            </dict>
            <key>11003_Talent4_guangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,171},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>11003_Talent4_guangzhu_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,187},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>11003_Talent4_guanzhuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11003_Talent4_shader.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,257},{93,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,48}}</string>
                <key>sourceSize</key>
                <string>{93,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>11003_Talent4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:887c612430220b903a9e53084fe360e3$</string>
            <key>textureFileName</key>
            <string>11003_Talent4.png</string>
        </dict>
    </dict>
</plist>
